.navLinks {
  display: flex;
  gap: 20px;
  list-style: none;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  position: relative;
  padding-bottom: 4px;
  transition: all 0.3s ease;
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #fd0d0d;
  transition: width 0.3s ease;
}

.link:hover {
  color: #fd0d0d;
}

.link:hover::after {
  width: 100%;
}